@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loader-container{
  height: 100vh;
  width: 100vw;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.owl{
  animation: fadeIn 1s linear forwards;
  transform: scale(0.6,0.6);
  opacity: 0;
}

@keyframes fadeIn {
  0%{opacity: 0;}
  25%{opacity: 0.3; transform: scale(0.7,0.7); transform: translateY(-28px);}
  50%{opacity: 0.5; transform: scale(0.8,0.8); transform: translateY(-30px);}
  75%{opacity: 0.7; transform: scale(0.9,0.9); transform: translateY(-32px);}
  100%{opacity: 1; transform: scale(1,1); transform: translateY(-35px);}
}

.loadbar-container{
  width: 7vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.loadbar{
  width: 1.5vw;
  height: 5vh;
  background-color: #eeeeee;
}

.loader-container .lOne{
  opacity: 0;
  animation: fadeInOut 1.5s linear infinite;
}

@keyframes fadeInOut {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

.loader-container .lTwo{
  opacity: 0;
  animation: fadeInOut 1.5s 0.3s linear infinite;
}

.loader-container .lThree{
  opacity: 0;
  animation: fadeInOut 1.5s 0.6s linear infinite;
}



.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #010101;
  align-items: flex-start;
  justify-content: center;
  animation: 1s ease-in 0s changeBgLight forwards; 
  z-index: -1;
}

@keyframes changeBgLight{
  100%{background-color: #eeeeee;}
  50%{background-color: gray;}
  0%{background-color: #0f0d0a;}
}

.containerDark{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #f7f7f7;
  align-items: flex-start;
  justify-content: center;
  z-index: -1;
  animation: 1s ease-in 0s changeBgDark forwards 
}

@keyframes changeBgDark{
  0%{background-color: #f7f7f7;}
  50%{background-color: gray;}
  100%{background-color: #0f0d0a;}
}


.landing-div{
  width: 100%;
  height: 80%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
}

.landing-div img{
  height: 70%;
  width: 45%;
  border-radius: 100%;
}




.nav-bar {
  width: 100vw;
  height: 3.2vw;
  margin-top: 30px;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
   
   transform: translate(-70px,20px);  
}

.logo img{
  transform: scale(0.3,0.3);
}



.logo img:hover{
  
  transform: scale(0.4,0.4);
  transition-duration: 1s;
  animation-delay: 0.5s;
}

.nav-links {
  display: inline-block;
  margin: 10px;
  transform: translateX(-30px) !important;
}

.nav-links a{

  
  font-family: 'Mulish', sans-serif;
  color: #0f0d0a;
  font-size: large;
  font-weight: bolder;
  margin: 20px;
  text-decoration: none;
}


.nav-links a:hover{
  color: darkorchid;
  font-size: larger;
  transition-duration: 1s;
}

.nav-links-dark{
  transform: translateX(-30px) !important;
  display: inline-block;
  margin: 10px;
}

.nav-links-dark a{
  font-family: 'Mulish', sans-serif;
  color: #f7f7f7;
  font-size: large;
  font-weight: bolder;
  margin: 20px;
  text-decoration: none;
}


.nav-links-dark a:hover{
  color: darkorchid;
  font-size: larger;
  transition-duration: 1s;
}



.loader {
  position:absolute;
  align-self: center;
  border: 16px solid transparent; /* Light grey */
  border-top: 16px solid darkorchid; 
  border-radius: 50%;
  width: 24vw;
  height: 24vw;
  animation: spin 7s linear infinite;
  z-index: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-inside {
  position:absolute;
  align-self: center;
  border: 16px solid transparent; /* Light grey */
  border-top: 10px solid firebrick; 
  border-radius: 50%;
  width: 17vw;
  height: 17vw;
  animation: spin-inner 4s linear infinite;
  z-index: 0;
}

@keyframes spin-inner {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.loader-outside {
  overflow: hidden;
  position:absolute;
  align-self: center;
  border: 16px solid transparent; /* Light grey */
  border-top: 15px solid darkorchid; 
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  animation: spin-outer 5s linear infinite;
  z-index: 0;
}

@keyframes spin-outer {
  0% { transform: rotate(270deg); }
  100% { transform: rotate(-90deg); }
}

.loader-between {
  position:absolute;
  align-self: center;
  border: 16px solid transparent; /* Light grey */
  border-top: 12px solid firebrick; 
  border-radius: 50%;
  width: 27vw;
  height: 27vw;
  animation: spin-between 4s linear infinite;
  z-index: 0;
}

@keyframes spin-between {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(270deg); }
}

.contact{
  display: flex;
  position: absolute;
  align-self: flex-end;
  justify-content: center;
  width: 100vw;
  
  font-size: large;
  margin-right: 10px;
  margin-bottom: 30px;
  color: #0f0d0a;
  font-weight: 600;
  font-family: 'Mulish', sans-serif;
}

.contact p{
  margin: 5px;
}

.contact-dark{
  display: flex;
  position: absolute;
  align-self: flex-end;
  justify-content: center;
  
  width: 100vw;
  font-size: large;
  margin-right: 10px;
  margin-bottom: 30px;
  color: #f7f7f7;
  font-weight: 600;
  font-family: 'Mulish', sans-serif;
}

.contact img{
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
}

.contact a{
  text-decoration: none;
  color: #0f0d0a;
  font-size: large;
  margin: 3px;

}

.contact-dark img{
  margin-left: 10px;
  margin-top: 5px;
}

.contact-dark a{
  text-decoration: none;
  color: #f7f7f7;
  font-size: large;
  margin: 3px;

}

.contact a:hover{
  color: darkorchid;

}

.contact-dark a:hover{
  color: darkorchid;

}

.user-info {
  display: flex;
  flex-direction: row;
}

.user-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.secondContainer{
  width: 100%;
  height: 80%;
  position:absolute;
  margin-top: 3%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  animation: 2s ease-in 0s 1 appear;
 }

 .secondContainer .col-one{
   
   width: 50vw;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
 }

 .secondContainer .col-two{

  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nightowl{
  font-family:  'Raleway', sans-serif !important;
  font-size: 46px !important;
  
  background: -webkit-linear-gradient(-45deg,#999999, #666666 ,#111111);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 @keyframes appear{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

#field {
  color:red;
  transition: ease-in;
  margin-left: 20px;
}
#field:after {
  content:"";
  animation: field 10s linear infinite ;
  
}
@keyframes field {
  0%  {opacity: 0;transform: translateY(10px);}
  5%  {opacity: 0.5;}
  10% { content:"Graphic Designer"; opacity: 1;}
  20% {opacity: 0;}
  30% { content:"WordPress Developer"; opacity: 1;}
  40% {opacity: 0;}
  50% { content:"Front-end Developer";opacity: 1;}
  60% {opacity: 0;}
  70% { content: "UI/UX Designer";opacity: 1;}
  80% {opacity: 0;}
  90% { content: "Digital Artist"; opacity: 1;}
  95% {opacity: 0;}

  from{
    transform: translateY(10px);
  }
  to{
    transform: translateY(0px);
  }
}

.secondContainer h1{
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  font-size: 36px;
  justify-content: space-between;
}

.secondContainer h2{
  font-family: 'Mulish',sans-serif;
  margin-block-end: 0;
  font-weight: 600;
  font-size: 24px;
  text-shadow: 1px 1px 30px rgba(0,0 ,0 , 0.2);
}

.secondContainer h4 {
  width: 80%;
  font-family:'Mulish', sans-serif;
  text-shadow: 1px 1px 50px rgba(0,0 ,0 , 0.5);
  font-size: 18px;
  margin-block-start: 15px;
}

.secondContainer #fadeUp{
  animation: fadeUp 2s linear infinite;
}

@keyframes fadeUp {
  from{
    transform: translateY(20px);
  }
  to{
    transform: translateY(-5px);
  }
}

.icon{
  width: 32px;
  height: 32px;
  margin: 5px;
}

.reactjs{
  background-color: darkslateblue;
  border-radius: 50px;
}





/* Design Screen */

.portraitContainer{
  width: 80%;
  margin-top: 5%;
  background-color: "white";
  z-index: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  
}

.img-div {
  height: 60%;
  width: 20%;
  opacity: 0.5;
  border-radius: 10px;
  background-color: teal;
  margin: 5%;
  z-index: 1000;
}

.img-div img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.img-div-center{
  height: 70%;
  width: 23%;
  opacity: 1;
  border-radius: 10px;
  background-color: teal;
  margin: 5%;
  z-index: 7;
  animation: getBig 1s 0.5s 1 forwards;
}

@keyframes getBig {
  0%{height: 70%;
    width: 23%;
    }
  25%{height: 70%;
  width: 23%;}  
  50%{height: 85%;
  width: 29%;
  }
  75%{height: 75;
  width: 25;}
  100%{height: 87%;
    width: 31%;
    }
}

.img-div-center img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.logicSign{
  opacity: 0.5;
  z-index: 100;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  color: #f7f7f7;
  transform: scale(2);
}

.logicSign:hover{
transition-duration: 0.5s;

opacity: 1;
font-size: 20px;
}

/* Snow Animation */

.snow {
	position: absolute;
	
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100vh;
	height: 100%;
}

#snow-top-layer {
  width: 100vw;
  height: 100vh;

	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

/* WordPress */

.wp-web-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 30px;
  
}

.wp-web-container h1{
  color: #f7f7f7;
  font-family: 'Courier New', Courier, monospace;
}

.wp-web-container span{
  color: darkred;
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.website-container{
  margin-top: 50px;
  height: 100vh;
  overflow-y: scroll;
}

.website-container::-webkit-scrollbar-track
{
	background-color: lightblue;
  

}

.website-container::-webkit-scrollbar
{
  height: 10px;
	width: 10px;
  top: 100px;
	background-color: #F5F5F5;
  
}

.website-container::-webkit-scrollbar-thumb
{
	background-color: #2d9dd8;
  
}

.wp-container{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wp-logo .wp-logo-img{
  transform: scale(0.8,0.8);
}

.wp-img-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wp-img-container .wp-image{
  width: 30%;
  margin: 10px;
}

.wp-web-container button{
  margin-top: 25px;
  height: 6vh;
  width: 10vw;
  background-color: darkorchid;
  border:none;
}

.wp-web-container a{
  text-decoration: none;
  color: #f7f7f7;
}

.wp-web-container hr{
  width: 80%;
  margin-top: 20px;
  color: #f7f7f7;
}


@media only screen and (max-width: 768px) {
 
  .nav-bar{
    margin-top: 0;
    height: 10vh;
    width: 70vw;
    justify-content: space-around;
  }

  .logo {
    
    transform: translate(5px,10px);  
 }
 
 .logo img{

   transform: scale(0.2,0.2);
 }
 
 
 
 .logo img:hover{
   
   transform: scale(0.2,0.2);
   transition-duration: 1s;
   animation-delay: 0.5s;
 }
 
 .nav-links {
   display: inline-block;
   margin: 15px;
   transform: translateX(-120px) !important;
 }
 
 .nav-links a{
 
   font-size: medium;
    margin: 15px;  
 }
 
 
 .nav-links a:hover{
   
   font-size: large;
   
 }
 
 .nav-links-dark{
   transform: translateX(-120px) !important;
   display: inline-block;
   margin: 2px;
 }
 
 .nav-links-dark a{
   
   color: #f7f7f7;
   font-size: medium;
   
   
 }
 
 
 .nav-links-dark a:hover{
   color: darkorchid;
   font-size: large;
   transition-duration: 1s;
 }

 .secondContainer{
   flex-direction:column;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
 }

 .secondContainer .col-two{
   width: 100vw;
   align-items: center;
 }

 .landing-div{
   height: 30vh;
 }

 .secondContainer{
   margin-top: 70px;
 }

 .secondContainer .col-one{
   width: 100vw;
 }
 
.nightowl{
  font-size: 40px !important;
}

.col-two h1{
  width: 100vw;
  font-size: 22px !important;
  text-align: center;
  justify-content: center;
  flex-direction: column;
 
  margin-top: 20px;
}

.col-two #field{
  width: 100vw;
  margin-left: 20px;
  margin-top: 30px;
}

.col-two h1 #fadeUp{
margin-top: 10px !important;
}
  


.col-two h4{
  font-size: 14px;
  width: 80vw;
}

.icon-grid{
  margin-top: 15px;
}

.loader{
  border: 5px solid transparent; /* Light grey */
  border-top: 5px solid darkorchid; 
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
}

.loader-outside{

  border: 5px solid transparent; /* Light grey */
  border-top: 5px solid darkorchid; 
  border-radius: 50%;
  width: 60vw;
  height: 60vw;

}

.loader-between{
  border: 5px solid transparent; /* Light grey */
  border-top: 5px solid firebrick; 
  border-radius: 50%;
  width: 55vw;
  height: 55vw;
}

.contact{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}

.contact .user-info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

}